<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.5841240105553831" radius="0.6499"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.5841240105553831" radius="0.6499"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.7750826313860208"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
