<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.6098983209067967" radius="0.6499"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.6098983209067967" radius="0.6499"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.8092829380475111"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="11">
		<visual>
			<geometry>
				<cylinder length="0.8061561674910107" radius="0.9999"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.8061561674910107" radius="0.9999"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="2.532107795903318"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="12">
		<visual>
			<geometry>
				<cylinder length="0.8061561674910107" radius="0.9999"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.8061561674910107" radius="0.9999"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="2.532107795903318"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<link name="13">
		<visual>
			<geometry>
				<cylinder length="0.8061561674910107" radius="0.9999"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.8061561674910107" radius="0.9999"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="2.532107795903318"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
	<joint name="11_to_0" type="revolute">
		<parent link="0"/>
		<child link="11"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="6.366338451991181 4.39822971502571 6.282556988648868" xyz="0.6499 0.6499 0.9999"/>
	</joint>
	<joint name="12_to_0" type="revolute">
		<parent link="0"/>
		<child link="12"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="9.549507677986771 4.39822971502571 6.282556988648868" xyz="0.6499 0.6499 0.9999"/>
	</joint>
	<joint name="13_to_0" type="revolute">
		<parent link="0"/>
		<child link="13"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" upper="-3.1415" lower="3.1415" velocity="1"/>
		<origin rpy="12.732676903982362 4.39822971502571 6.282556988648868" xyz="0.6499 0.6499 0.9999"/>
	</joint>
</robot>
